include MANIFEST.in
include ../LICENSE
include ../changelog.txt
include ../README.md
recursive-include ../fisx_data *.dat
recursive-include ../python *.py *.pyx *.pyd *.cpp
recursive-include ../src *.h *.cpp
